.background {
    margin: 0px auto;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding-bottom: 100px;
    background: linear-gradient(-45deg, white, #e25969, #5969e2, #000);
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
    position: absolute;
    top: 0;
    z-index: -1;
    padding-top: 40px;
    min-height: 100%;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
